<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lottery.app">
    
    <application 
        android:label="大乐透随机号码生成器"
        android:theme="@style/Theme.AppCompat.Light">
        <activity 
            android:name="org.gioapp.GioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>